/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-image: url('https://jpk-image-hosting.s3.amazonaws.com/markdown-app/mooning.png');
  font-family: 'Arimo', sans-serif;
}

hr {
  border-color: grey;
  margin-bottom: 10px;
}

.md-input {
  background-color: #1d1f20;
  border-radius: 4px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  height: 400px;

  @media (min-width: 992px) {
    height: 600px;
  }
}

.well {
  padding: 10px;
  width: 100%;
  height: 400px;
  overflow: auto;

  @media (min-width: 992px) {
    height: 600px;
  }
}
